.student-wrapper{
    width: 900px;
    height: 145px;
    background-color: rgb(150, 194, 168, 0.5);
    padding: 10px;
    display: flex;
    border-radius: 20px;
    color:bisque;
    font-weight: 500;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: visible !important;
}

.student-img {
    height: 120px;
    width: auto;
    transition: .5s all;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}

.student-link{
    color: bisque;
    transition: .3s all;
    display: inline-block; 

}

.student-link:hover{
    transform: scale(1.1);
}

.description-fix-pos{
    position: relative;
}

.student-img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7));
    animation: shake 0.4s; 

}

.student-description{
    margin-left: 20px;
}

.student-img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7));
    animation: sway 0.4s; /* Изменено на анимацию покачивания */
}

@keyframes sway {
    0% { transform: translateY(0); }   
    10% { transform: translateY(-5px); } 
    20% { transform: translateY(0); }
    30% { transform: translateY(5px); }
    40% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    60% { transform: translateY(0); }
    70% { transform: translateY(5px); }
    80% { transform: translateY(0); }
    90% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
