.plant-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 100px;
    border-radius: 15px;
    outline: none;
    border: 3px solid white;
    background-color: rgba(40, 37, 40, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.plant-container:focus {
    background-color: #96c2a8;
    transform: scale(0.95);
}

.plant-container:active {
    transform: scale(0.9);
}

.plant-image-wrapper{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.plant-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.plant-area {
    display: flex;
    flex-wrap: wrap; /* Разрешает перенос строк */
    gap: 7px;
    justify-content: center;
}

.plant-search-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plant-search-input-wrapper {
    position: relative; /* Для абсолютного позиционирования кнопки */
    width: 100%; /* Чтобы адаптировать к ширине контейнера */
    max-width: 400px; /* Опционально, максимальная ширина */
    margin-bottom: 5px;
}

.plant-area-input {
    width: 100%; /* Полная ширина */
    padding: 10px 40px 10px 10px; /* Отступ справа для кнопки */
    font-size: 16px; /* Размер шрифта */
    border: 1px solid #ccc; /* Граница */
    outline: none;
    border-radius: 20px; /* Закругленные углы */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

}

.plant-area-input:focus{
    border: 1px solid #1b6d85;
}

.plant-search-button {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 50%; /* Выравнивание по вертикали */
    right: 10px; /* Расстояние от правого края */
    transform: translateY(-50%); /* Центровка по вертикали */
    background: none; /* Убираем фон */
    border: none; /* Убираем границу */
    cursor: pointer; /* Указатель мыши */
}

.plant-search-button img {
    width: 20px; /* Размер иконки */
    height: 20px;
}