.lk-user-info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  height: 300px;
  padding: 15px;
  background-color: rgb(250, 235, 215, 0.3);
  border-radius: 20px;
}

.lk-img {
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.lk-centered {
  display: flex;
  justify-content: center;
}

.lk-user-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  height: 100%;
}

.lk-user-text-wrapper h1,
p {
  margin: 0;
}

.lk-user-text-wrapper h1 {
  margin: 0 0 2vh 0;
}

.lk-user-balance {
  padding: 0 20px 0 20px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
}

.lk-plus-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.lk-plus-img:hover {
  transform: scale(1.1);
}

.lk-user-orders {
  width: 100%;
  margin-top: 20px;
}

.user-order {
  width: 1150px;
  height: 150px;
  background-color: #afaf8f;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  padding: 14px;
  gap: 20px;
  border-radius: 10px;
  color: #333;
}

.user-order-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  background-color: rgb(72, 128, 120, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.order-plant-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.tooltip {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #333;
}

.lk-input-wrapper {
  position: relative; /* Это важно для правильного позиционирования знака рубля */
  display: flex;
  align-items: center;
  gap: 10px;
}

.lk-input-wrapper input {
  padding-right: 30px; /* Создаем пространство для знака */
  padding-left: 10px;
  font-size: 16px;
  height: 30px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.lk-input-wrapper .currency-sign {
  position: absolute;
  right: 120px; /* Прижимаем знак рубля к правому краю поля */
  font-size: 16px;
  color: #333;
  pointer-events: none; /* Это позволяет пользователю кликать в поле ввода, не задевая знак */
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #333; */
  width: 30px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #ccc;
}

.lk-input-wrapper button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.lk-input-wrapper button:hover {
  background-color: #45a049;
}
