.search-block {
    display: flex; /* Используем flexbox для размещения элементов в строку */
    align-items: center; /* Центруем элементы по вертикали */
    position: relative; /* Для абсолютного позиционирования иконки */
}

.search-input {
    width: 100%;
    height: 4vh; /* Высота инпута */
    border-radius: 20px;
    padding: 20px; /* Отступы внутри инпута */
    padding-right: 50px; /* Отступ справа для иконки */
    outline: none; 
    border: none;
    box-sizing: border-box; /* Включаем отступы в общую ширину и высоту */
}

.search-icon {
    position: absolute; 
    right: 15px; 
    width: 30px; 
    height: 30px; 
    cursor: pointer;
    opacity: 0.6;
    transition: .3s all;
}


.search-icon:hover{
    transform: scale(1.1);

}