.header {
    border-radius: 20px;
    position: relative;
    top: 1vh;
    left: 1vh;
    right: 1vh;
    height: 100px;
    background-color: #ece4d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    max-width: 99%;
    transition: .3s ease;
}

.header:hover {
    transform: scale(1.005);
}

.logo {
    max-width: 200px;
    height: 100px;
    margin-left: 30px;
}

.navbar {
    margin-top: 70px;
    margin-left: 20%;
}

.navbar a {
    position: relative;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 1500;
    color: #96c2a8;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #96c2a8;
    transition: all .3s;
}

.navbar a:hover::before {
    width: 0;
}

.login-btn {
    font-size: 15px;
    position: absolute;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    top: 10px;
    right: 30px;
    overflow: hidden;

    background-color: #b5b7a3;
    cursor: pointer;
    transition: color 0.3s;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transform: translateX(-100%);
        transition: transform 0.4s;
        z-index: 0;
        border-radius: 10px;
    }

    &:hover {
        color: white;

        &::before {
            transform: translateX(0);
            /* Сдвигаем на 0, чтобы появилось затемнение */
        }
    }
}