/* card.css */
.card-wrapper {
    margin: 0;
    padding: 15px;
    flex: 1 1 20%;
    min-width: 100px;
    max-width: 220px;
    height: 350px !important;
    border-radius: 20px;
    background-image: url(../../../public/TropicalRainforest.png);
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
    cursor: pointer !important;
    opacity: 0; 
    transform: translateY(20px); 
}


.card-wrapper.fade-in {
    opacity: 1; 
    transform: translateY(0);
}

.card-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.card-wrapper:active {
    transform: scale(0.78);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.card-wrapper img {
    width: 130px !important;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
    padding: 0;
}

.card-wrapper h1, p {
    padding: 7px;
    margin: 0;
}

.card-wrapper button {
    margin-top: 10px;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
}
