.h-container{
    margin-top: 10lvh;
    display: flex;
    justify-content: space-between;
    
}

.box2{
    width: 100%;
    height: 80vh;
    background-color: #f5a299;
}

.box1{
    width: 25vh;
    height: 80vh;
    background-color: #d5ac9e;
}

