* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 90vh;
    font-family: Arial, sans-serif;
}

.main {
    overflow: hidden;
}

.main-enter-active {
    animation: depth-in 0.7s forwards;
}

.main-exit-active {
    animation: depth-out 0.7s forwards;
}

@keyframes depth-in {
    0% {
        opacity: 0;
        transform: translateZ(-100px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateZ(0) scale(1);
    }
}

@keyframes depth-out {
    0% {
        opacity: 1;
        transform: translateZ(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateZ(-100px) scale(0.95);
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ece4d3;
    border-radius: 20px;
    max-width: 100%;
    transition: transform 0.3s ease-out;
    z-index: 1;
    margin: 15px 20px 0 20px;
    height: 84px;
}

.header:hover {
    transform: scale(1.008);
}

.logo {
    max-width: 150px;
    height: auto;
    width: 140px;
    cursor: pointer;
}

.navbar {
    display: flex;
    gap: 20px;
    position: relative;
    /* Для размещения псевдоэлемента */
}

.navbar a {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #96c2a8;
    position: relative;
    /* Для позиционирования псевдоэлемента */
}

.navbar a::before {
    border-radius: 20px;
    content: '';
    position: absolute;
    bottom: 110%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #96c2a8;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(0);
}


.login-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #b5b7a3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 800;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.login-btn:hover {
    background-color: #8a927a;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    height: 46.4vw;
    justify-content: center;
}

.box1 {
    flex: 1 1 25%;
    background-color: rgba(129, 186, 131, 0.5);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;

    height: 100%;
    overflow-y: auto;
}

.box2 {
    flex: 1 1 70%;
    background-color: rgba(129, 186, 131, 0.5);
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 40px;
    transition: 0.3s ease;
}

.container-plot-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.container-plot-products{
    margin: 0 auto;

    width: 80%;
    height: 35%;
    border-radius: 20px;
    background-color: #96c2a8;
}

.container-plot-info{
    border-radius: 20px;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    background-color: #3498db;
}

.centered-into-wrappers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color {
    color: #96c2a8;
    font-size: var(--font-size);
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.about-wrapper {
    padding: 20px;
    max-width: 75%;
    height: 84vh;
    max-height: 100%;
    background-color: rgb(129, 186, 131, 0.5);
    margin: 2vh auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.license-wrapper {
    padding: 20px;
    max-width: 83%;
    height: 84vh;
    max-height: 100%;
    background-color: rgb(128, 0, 128, 0.5);
    margin: 2vh auto;
    border-radius: 20px;

}

.contractor-wrapper {
    padding: 20px;
    max-width: 83%;
    height: 84vh;
    max-height: 100%;
    background-color: rgb(138, 146, 122, 0.5);
    border-radius: 20px;
    margin: 2vh auto;
}

.box2 .card {
    flex: 0 0 220px;
    max-width: 220px;
    height: 300px;
    margin-bottom: 0;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.centered-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Адаптивные стили */
/* Ограничение размеров для широких экранов */
@media (max-width: 684px) and (max-height: 1080px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 1200px) and (max-height: 1080px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #ece4d3;
        border-radius: 20px;
        max-width: 100%;
        transition: transform 0.3s ease-out;
        z-index: 1;
        margin: 15px 20px 0 20px;
        height: 84px;
    }

    .logo {
        max-width: 120px;
    }

    .box1 {
        width: 100%;
        max-height: 200px;
    }

    .box2 {
        height: 61vh;
        width: 100%;
        flex: 1 1 auto;
    }

    .content-container {
        display: flex;
        gap: 20px;
        padding: 20px;
        height: 89vh;
        max-height: 100vh;
        overflow: hidden;
        justify-content: center;
        flex-direction: row;
    }
}


@media (min-width: 1200px) and (max-height: 1080px) {
    .box1 {
        max-width: 300px;
    }

    .box2 {
        max-width: 1060px;
    }

    .content-container {
        display: flex;
        justify-content: center;
        height: 89vw;
        max-height: 89vh;
        overflow: hidden;
    }
}

@media (min-width: 1718px) {
    .box1 {
        max-width: 20%;
        height: 100%;
    }

    .box2 {
        gap: 24px;
        max-width: 70%;
        height: 100%;
    }

    .content-container {
        justify-content: center;
        height: 89vh;
        max-height: 92vh;
    }
}

@media (min-width: 1922px) {
    .about-wrapper {
        height: 65vh;
        width: 120vh;
    }
}

@media (min-width: 2300px) {
    .logo {
        margin-left: 15vw;
    }

    .login-btn {
        margin-right: 15vw;
    }
}